version: "3.9"
services:
  telegraf:
    image: telegraf:1.17.2
    hostname: telegraf
    restart: always
    volumes:
      - ./etc/telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
    - "6514:6514/udp"
    networks:
      - log-network

  influxdb:
    image: influxdb:1.7
    hostname: influxdb
    restart: always
    volumes:
      - ./data/influxdb:/var/lib/influxdb
    depends_on:
      - telegraf
    networks:
      - log-network

  chronograf:
    image: chronograf:1.8.8
    environment:
      INFLUXDB_URL: http://influxdb:8086
    ports:
      - "8888:8888"
    depends_on:
      - telegraf
    networks:
      - log-network

networks:
  log-network:
    driver: bridge
